
h5py
hdfs==2.7.3
numpy
orjson==3.9.10
QtPy
scikit-image==0.22.0
scikit-learn
scipy
seaborn==0.13.0
torchdata
torchtext
torchvision
torchxrayvision==1.2.1
tornado
tqdm==4.65.0
portalocker>=2.0.0
geom-median
pandas
torch
matplotlib
